mirrortype=rpm
host=rsync.nic.funet.fi
rootdir=ftp/pub/mirrors/fedora.redhat.com/pub/fedora/linux/releases
mirrorname=fedora
versions="42"
repos="Server"
sections="os"
arch="x86_64"
mirrorsyncexclude="images"
downloadmethod=rsync
monthlycleanupday=firstday
enabled=yes
verifysha256=yes
createsnapshot=yes
trydownloadrpmgpgkeys=no
