mirrortype=rpm
host=ftp.mirrors.postgresql.org
rootdir=pub/repos/yum
mirrorname=postgresql
versions="16 17"
repos="redhat"
sections="empty"
arch="rhel-9-x86_64"
mirrorsyncexclude="no"
downloadmethod=https
enabled=yes
verifysha256=yes
createsnapshot=yes
monthlycleanupday=firstday
trydownloadrpmgpgkeys=no
