mirrortype=deb
host=ftp.mirrors.postgresql.org
arch=amd64
dist=bookworm-pgdg,bullseye-pgdg
section=main
mirrorname=postgresql
rootdir=pub/repos/apt
downloadmethod=http
enabled=yes
debmirroroptions="--no-source"
createsnapshot=yes
verifysha256=yes
monthlycleanupday=firstday
