mirrortype=deb
host=ftp.ubuntu.com
arch=amd64
dist=noble,noble-updates,noble-security,noble-backports
section=main,multiverse,universe,restricted
mirrorname=ubuntu
rootdir=ubuntu
debmirroroptions="-no-source --i18n"
downloadmethod=rsync
enabled=yes
verifysha256=yes
createsnapshot=yes
monthlycleanupday=firstday
