mirrortype=deb
host=mirror.bahnhof.net
arch=amd64
verifysha256=yes
dist=zara
section=main
mirrorname=mintlinux
rootdir=pub/linuxmint/packages
downloadmethod=http
enabled=yes
debmirroroptions="--ignore-release-gpg --i18n --no-source"
createsnapshot=yes
monthlycleanupday=no