mirrortype=deb
host=rsync.security.debian.org
arch=amd64
dist=bookworm-security,bullseye-security
section=main,contrib,non-free,non-free-firmware
mirrorname=debian-security
rootdir=debian-security
debmirroroptions="--no-source --i18n"
downloadmethod=rsync
enabled=yes
verifysha256=yes
createsnapshot=yes
monthlycleanupday=firstday
