mirrortype=rpm
host=mirror.raiolanetworks.com
rootdir=pub/almalinux
mirrorname=almalinux
versions="9 10"
repos="AppStream BaseOS extras"
sections="os"
arch="x86_64"
mirrorsyncexclude="images"
downloadmethod=rsync
enabled=yes
verifysha256=yes
createsnapshot=yes
monthlycleanupday=firstday
trydownloadrpmgpgkeys=yes
