mirrortype=rpm
host=mirror.eu.ossplanet.net
rootdir=rockylinux
mirrorname=rocky
versions="9 10"
repos="AppStream BaseOS extras"
sections="os"
arch="x86_64"
mirrorsyncexclude="images"
downloadmethod=rsync
monthlycleanupday=firstday
enabled=yes
verifysha256=yes
createsnapshot=yes
trydownloadrpmgpgkeys=yes
